<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>A Super Loja</title>
  <link rel="icon" href="/imgs/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
  <link rel="stylesheet" href="css/estilos.css">
  <link rel="stylesheet" href="css/menu-principal.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="container">
    ola terraqueos
    {{#if perfil_user}}
     {{#each perfil_user}}
    <div>
      <form action="/alterar_senha" method="POST">
        <h3>Name: {{usr_name}}</h3>
        <h3>Email: {{usr_email}}</h3>
        <h3>User name : {{usr_uname}}</h3>
        <input type="text" class="form-control" id="usr_email" name="usr_email" value="{{usr_email}}">
        <input  id="product_idsenha" type="text" placeholder="Senha Atual"  name="senha">
        <input  id="product_idnovasenha" type="text" placeholder="Nova Senha"  name="novasenha">
        <button type="submit" id="atualizarsenha">Atualizar senha</button>
      </form>

    </div>
    {{/each}}
    {{/if}}
    
    <main>
      {{#if perfil_productlist}}

      <section>
        <h2>Novos produtos</h2>

        <div id="produtos">
          {{#each perfil_productlist}}
          <article>
            <img src={{product_img}}>
            <h3>{{product_name}}</h3>
            <p>{{product_description}}</p>

            <form action="/apagar_produto" method="POST">
              <div class="mb-3 col-4 p-2">
                    <input type="text" class="form-control" id="product_id" name="product_id" value="{{product_id}}">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <button type="submit" id="apagar" value="{{product_id}}" >Deletar</button>
            </form>
          </article>
          {{/each}}
        </div>

      </section>

      {{/if}}
    </main>

    <a href="/user_produto">
      <button>Adionar Produto</button>
    </a>

    </container>
    <script src="/js/menu.js" charset="utf-8"></script>
</body>

</html>